block variables

doctype html
html(lang="en")
  include head.pug

  body
    +b.svg-sprite

    block header
      +header

    block content

    block footer
      +footer

    block main-nav
      +mobile-nav

    block scripts
      script(src="./js/vendor.js")
      script(src="./js/bundle.js")

    block svg
      script.
        var svgPaths = [
          "./images/sprite_icons.svg"
        ];
